<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="sneakers.css" />
    <script src="Sneakers game.js" defer></script>
</head>

<body>
    <div class="wrapper">
        <h1>Get Sneakers for free</h1>
        <canvas id="gameCanvas"></canvas>

        <div id="resetSpeedButton">
            <button onclick="resetSpeed()">Reset Speed</button>
        </div>
        <div id="resetScoreButton">
            <button onclick="resetScore()">Reset Score</button>
        </div>
        <footer>
            <h3>Play to get 1 Sneakers free!!!</h3>
            &copy; Katialy Ashley Metsanou,2023.
        </footer>
    </div>
</body>

</html>