body {
    line-height: 1;
    width: 1000px;
    background-color: #443534;
    color: #873d1e;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(27, 80, 118);
    text-align: center;
}

.wrapper {
    min-width: 960px;
    max-width: 2048px;
    width: 40%;
    margin: 0 auto;
    padding: 60px;
    background-color: rgb(244, 125, 22);
    box-shadow: 3px 3px 3px rgb(45, 37, 37);
}

footer {
    text-align: -webkit-center;
    margin-top: 31px;
    margin-bottom: 20px;
}

.gameCanvas {
    border: 1px solid black;
}

#gameCanvas {
    display: block;
    margin: 0 auto;
}

#resetSpeedButton,
#resetScoreButton {
    margin-top: 10px;
}

button {
    padding: 5px 10px;
    border: 0;
    outline: none;
    border-radius: 5px;
    background: #80e3bab6;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(120, 112, 112, 0.2);
}