<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Real Estate Agent Contact form</title>
  <link rel="stylesheet"href="style.css">
  <meta charset=utf-8">
</head>
 <body>
   <div class="wrapper">
     <header>
<div class="logo">
        <img src="pngegg.png">
</div>
<h1>Tim Allen's Real Estate properties</h1>

<nav>
	<ul>
<a href="individual project.html">Home</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a href="for sale.html">Available Properties</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a href="individual project 2.html">listings</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a href="contact.html">Contact</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a href="Sitemap and credits.html">Sitemap & Credits</a>&nbsp
</ul>
   </nav>
     </header>
<br><br>
<main>
       <span><h1><b>CONTACT FORM</b></h1><br><br>
   <h2>Please fill out the form below with your informations. We will contact You as soon as possible. Thanks!</h2><br><br></span>
   
<form method="post" action="mailto:kmetsano@my.centennialcollege.ca">
<fieldset>
<label for="myFName">First Name:</label>
<input type="text" id="myFName" name="Fisrt Name"><br>

<label for="LName">Last Name:</label>
<input type="text" id="LName" name="Last Name"><br>

<label for="Email">E-mail Address:</label>
<input type="email" id="myEmail" name:"Email" size="35"><br>

<label for="myphone">Phone Number:</label>
<input type="tel" id="myphone" name:"myphone" maxlength="12"><br>

<label for="rooms">Number of rooms:</label>
<input type="number" id="rooms" name="rooms" min="1" max="10"><br>

<label for="Bathrooms">Number of bathrooms:</label>
<input type="number" id="Bathrooms" name="Bathrooms" min="1" max="7"><br>

<label for="myChoice">Price range:</label>
<input type="range" min="0" max="50000" name="Price" id="myChoice">
<br>
<label for="Comments">Comments:</label>
<textarea id="Comments" name="Comments" rows="2" columns="30"></textarea><br>
</fieldset>
<input type="submit" value="submit"></input type="submit"><br>
</form>
</main>
		
 <footer>
<p><i> Thank you! We pay attention to your feedback!</i></p>

</footer>
     </div>
 </body>
</html>