<!DOCTYPE html>
<html lang="en">
<head>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Real Estate Agent Website</title>
<link rel="stylesheet"href="style.css">
<meta charset="utf-8">
</head>
<body>
<div class="wrapper">

<header>
<div class="logo">
        <img src="pngegg.png">
</div>
<h1>Tim Allen's Real Estate properties</h1>
<nav>
	<ul>
<a href="individual project.html">Home</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a href="for sale.html">Available Properties</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a href="individual project 2.html">listings</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a href="contact.html">Contact</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a href="Sitemap and credits.html">Sitemap & Credits</a>&nbsp
</ul>

     </nav>
</header>

<main>
<div class="image">
<img src="home5.jpeg">
<div class="centered"><h1>Available Properties</h1></div>
</div>

<div class="rows">
	
<div class="column">
<a target="_blank" href="property 1.jpg">
<img src="property 1.jpg" alt="property 1">
</a><br>
<br>
<a href="property1.html">
<p>Paradise on Poppy - For Sale</p>
</a>
</div>

<div class="column">
<a target="_blank" href="property2.webp">
<img src="property2.webp" alt="property 3">
</a><br>
<br>
<a href="property2.html">
<p>La Rambla - Commercial Building For Sale</p>
</a>
</div>

	</div>

<div class="rows">

<div class="column">
<a target="_blank" href="property3.jpg">
<img src="property3.jpg" alt="property 3" usemap="#property3map">
</a><br>
<br>
<a href="property 3.html">
<p>Santa Cruz Masterpiece - For sale</p>
</a>
</div>

<div class="column">
<a target="_blank" href="property5.jpg">
<img src="property5.jpg" alt="property 2">
</a><br>
<br>
<a href="property4.html">
<p>Black Clover Cottage - For sale</p>
</a>
</div>
</div>

</main>
<footer>Copyright c 2012 Pacific Trails Resort.<br>
</footer>
</div>
</body>
</html>