<!DOCTYPE html>
<html lang="en">
<head>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Real Estate Agent Website</title>
<link rel="stylesheet"href="style.css">
<meta charset="utf-8">
</head>
<body>
<div class="wrapper">

<header>
<div class="logo">
        <img src="pngegg.png">
</div>
<h1>Tim Allen's Real Estate properties</h1>
<nav>
	<ul>
<a href="individual project.html">Home</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a href="for sale.html">Available Properties</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a href="individual project 2.html">listings</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a href="contact.html">Contact</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a href="Sitemap and credits.html">Sitemap & Credits</a>&nbsp
</ul>

     </nav>
</header>

<main>
<div class="image">
<img src="home5.jpeg">
<div class="centered"><h1>Our Listings</h1></div>
</div>

<div class="rows">
	
<div class="column">
<img src="property 1.jpg" alt="property 1" usemap="#propertymap">
<map name="propertymap">
  <area shape="rect" coords="33,31,690,395" alt="Computer" href="property1.html">
</map>
30 Poppy Lane, Pebble Beach, CA, 93953 <br>
Paradise on Poppy - 30 Poppy Lane<br>
$9,950,000<br>
5 BEDS 5.5 BATHS 6,166 SQ.FT. LIVING  AREA 1.03 ACRES LOT
</div>

<div class="column">
<img src="property2.webp" alt="property 3" usemap="#property2map">
<map name="property2map">
  <area shape="rect" coords="4,5,1276,791" alt="Computer" href="property2.html">
</map>
Lincoln 2SW of Ocean Avenue, Carmel-by-the-Sea, CA, 93921<br>
La Rambla - Commercial Building For Sale - Downtown Carmel-by-the-Sea<br>
$8,500,000<br>
2 BEDS 3.5 BATHS
</div>

<div class="column">
<img src="property3.jpg" alt="property 3" usemap="#property3map">
<map name="property3map">
  <area shape="rect" coords="4,6,1433,951" alt="Computer" href="property 3.html">
</map>
1151 Scholl Lane, Santa Cruz, CA, 95062<br>
Santa Cruz Masterpiece - 1151 Scholl Lane<br>
$6,495,000<br>
5 BATHS  5,228 SQ.FT. LIVING AREA  0.77 ACRES LOT
</div>
	</div>

<div class="rows">
	
<div class="column">
<img src="property5.jpg" alt="property 2" usemap="#propertymap">
<map name="propertymap">
  <area shape="rect" coords="33,31,690,395" alt="Computer" href="property4.html">
</map>
Downtown valley, Clover road, CA, 86924 <br>
Black 	Clover Cottage - Downtown valley<br>
$9,90,000<br>
4 BEDS 3.5 BATHS 6,150 SQ.FT. LIVING  AREA 1.01 ACRES LOT
</div>

<div class="column">
<img src="property6.jpg" alt="property 2" usemap="#property6map">
<map name="property6map">
  <area shape="rect" coords="33,31,690,395" alt="Computer" href="https://www.redfin.com/AZ/Fountain-Hills/10330-N-Fire-Canyon-85268/home/28157201">
</map>
90 beach road, Pebble Beach, CA, 63753 <br>
Hell's Paradise on Poppy - 90 beach road <br>
$10,950,000<br>
6 BEDS 6.5 BATHS 7,000 SQ.FT. LIVING  AREA 3.03 ACRES LOT
</div>

<div class="column">
<img src="property7.jpeg" alt="property 2" usemap="#property7map">
<map name="property7map">
  <area shape="rect" coords="33,31,690,395" alt="Computer" href="https://timallenproperties.com/properties/big-sur-haven-4847-bixby-creek-road-carmel">
</map>
3060 Bleach Lane, newbronswick, CA, 93953 <br>
Bleach on Agile - Bellamy Lane<br>
$10,050,000<br>
6 BEDS 6  BATHS 6,998 SQ.FT. LIVING  AREA 2.03 ACRES LOT
</div>
</div>

</main>
<footer>Copyright c 2012 Pacific Trails Resort.<br>
</footer>
</div>
</body>
</html>