<!DOCTYPE html>
<html>
  <head>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Real Estate Agent Website</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
<div class="wrapper">
<header>
 <div class="logo">
        <img src="pngegg.png">
     </div>
<h1>Tim  Allen's Real Estate properties</h1>

    <nav>
	<ul>
<a href="individual project.html">Home</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a href="for sale.html">Available Properties</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a href="individual project 2.html">listings</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a href="contact.html">Contact</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a href="Sitemap and credits.html">Sitemap & Credits</a>&nbsp
</ul>
</nav>
</header>
<br><br><br>
<main>
<div class="listing">
<img src="property 1.jpg">
<div class="content"><h1>Paradise on Poppy - 30 Poppy Lane</h1>
<p>30 Poppy Lane, Pebble Beach, CA, 93953<br>
$9,950,000<br>
5 BEDS 5.5 BATHS 6,166 SQ.FT. LIVING  AREA 1.03 ACRES LOT </p></div>
</div>

<div class="rows">
	
<div class="column">
<img src="listing 1a.jpeg" alt="property 1">
<h3>Living room</h3><br>
<p>This living room has a contemporary, minimalist design with soft gray walls and light-colored hardwood floors. 
It features a large gray sectional sofa, armchairs upholstered in deep blue velvet, and a glass coffee table with a chrome frame. 
Pendant lamps provide lighting and add to the modern feel of the space</p>
</div>
<div class="column">
<img src="listing 1b.webp" alt="property 1">
<h3>Living room</h3><br>
<p>This living room has a contemporary, minimalist design with soft gray walls and light-colored hardwood floors. 
It features a large gray sectional sofa, armchairs upholstered in deep blue velvet, and a glass coffee table with a chrome frame. 
Pendant lamps provide lighting and add to the modern feel of the space</p>
</div>
</div>

<div class="rows">
	
<div class="column">
<img src="listing 1c.webp" alt="property 1">
<h3>Bedroom</h3>
<br>
<p>This modern bedroom has a neutral color palette with light gray walls and light-colored hardwood flooring. The bed is a low platform style with a gray upholstered headboard and white bedding, flanked by matching nightstands with table lamps. The room is illuminated by recessed lighting and a modern pendant lamp.
 A large walk-in closet and modern dresser offer ample storage space.</p>
</div>
<div class="column">
<img src="listing 1d.webp" alt="property 1">
<h3>Bathroom</h3>
<br>
<p>Coastal-inspired bathroom with pale blue-green walls, small white hexagonal floor tiles, white vanity with a marble countertop and wood cabinet, large mirror with a wood frame and sconce lighting, glass shower enclosure with white subway tiles and blue-green glass mosaic accents, chrome towel rack</p>
</div>
</div>
<div class="column1">
<img src="listing 1e.webp" alt="property 1">
<h3>Kitchen</h3><br>
<p>This kitchen has a contemporary design with sleek lines and modern finishes.
 The cabinets are glossy white with brushed nickel hardware, and the countertops are made of polished black granite. The appliances are stainless steel and include a built-in oven and microwave, a gas range, and a French door refrigerator. A large island in the center of the kitchen provides additional workspace and includes a sink and a breakfast bar. The flooring is covered in gray porcelain tiles, and the room is illuminated by a combination of recessed lighting and pendant lamps.</p>
</div>
<div class="site">
<table>
<tr>
<td class="text">TOTAL BEDROOMS</td> 
<td class="text">6</td> 
</tr>

<tr>
<td class="text">TOTAL BATHROOMS</td>
<td class="text">3.5</td>
</tr>

<tr>
<td class="text">FULL BATHROOMS</td> 
<td class="text">2</td>
</tr>

<tr>
<td class="text">Kitchen</td> 
<td class="text">1 Gourment Kitchen, High end Appliances</td>
</tr>

<tr>
<td class="text">Flooring</td> 
<td class="text">Laminate</td>
</tr>

<tr>
<td class="text">pool</td> 
<td class="text">1</td>
</tr>

<tr>
<td class="text">Fire place</td> 
<td class="text">2</td>
</tr>

<tr>
<td class="text">Room type</td> 
<td class="text">2 suits, 3 single rooms</td>
</tr>
</table>
</div>
</main>
<footer>Copyright c 2012 Pacific Trails Resort.<br>
</footer>
</div>
</body>
</html>