<!DOCTYPE html>
<html>
  <head>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Real Estate Agent Website</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
<div class="wrapper">
<header>
 <div class="logo">
        <img src="pngegg.png">
     </div>
<h1>Tim  Allen's Real Estate properties</h1>

    <nav>
	<ul>
<a href="individual project.html">Home</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a href="for sale.html">Available Properties</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a href="individual project 2.html">listings</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a href="contact.html">Contact</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a href="Sitemap and credits.html">Sitemap & Credits</a>&nbsp
</ul>
</nav>
</header>


<div class="site">
 <h2>SITE MAP</h2>


Home page: <a href="individual project.html">click here</a><br>
Our listings: <a href="individual project 2.html">click here</a><br>
Available Properties: <a href="for sale.html">click here</a><br>
Contact us: <a href="contact.html">click here</a><br>
Property 1: <a href="property1.html">click here</a><br>
Property 2: <a href="property2.html">click here</a><br>
Property 3: <a href="property 3.html">click here</a><br>
Property 4: <a href="property4.html">click here</a>

<br><br>
<h2> Credits</h2>

<P>Content creation: Inspired from Tim allen's Real estate properties website, <br> including descriptions , pictures</p>

<P>Images: From Tim allens properties website ,<a href="https://timallenproperties.com/properties/sale">Tim allen's website</a>.<br>
 Other graphics, inspirations , proerties pictures and description <br>from
<a href="https://www.sothebysrealty.com/eng/sales/detail/180-l-1189-y2y3x3/100-via-milpitas-carmel-valley-ca-93924">Sotheby's International Reality</a> Website</P>

<P>Graphics: logo from Google search <br> Pinterest, <a href="https://www.pinterest.com/pin/793478028073671905/">logo</a>

<P>Design and development: HTML5 </P>
</div>
    <footer>
      <p>&copy; 2023 Real Estate Agent. All rights reserved.</p>
    </footer>
</div>
</body>
</html>