<!--File: footer.ejs
Student's Name: Katialy Ashley
Student ID: 301273661
Date: 03/10/2023

Description: This file controls the bottom of the page the web page.-->
<script src="/jquery/dist/jquery.min.js"></script>

<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</div>
</body>

</html>