<!DOCTYPE html>
<html>

<head>
    <title>Word Cloud from URL</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wordcloud2.js/1.0.6/wordcloud2.min.js"></script>
</head>

<body>
    <div>
        <label for="url-input">Enter the URL to create a Word Cloud from:</label>
        <input type="text" id="url-input">
        <button onclick="generateWordCloud()">Generate Word Cloud</button>
    </div>
    <div id="wordcloud-container">
        <!-- Word Cloud will be displayed here -->
    </div>
    <script src="script.js"></script>
</body>

</html>