<!--* File: about.ejs
Student's Name: Katialy Ashley
Student ID: 301273661
Date: 03/10/2023

Description: This file is the about me page.
*/-->
<%- include ('partials/header.ejs') %>

    <%- include ('partials/main_nav.ejs') %>




        <main class="container">

            <div class="jumbotron">

                <h1 class="mt-5">About me :)</h1>
                <div class="about-section">
                    <p>
                        I'm Katialy Ashley Metsanou, an international student hailing from the beautiful country of
                        Cameroon. My journey brought
                        me to Canada in November 2022, and I've been immersing myself in the world of technology ever
                        since.
                        Currently in my
                        second year of Software Engineering Technology with a specialization in Artificial Intelligence
                        at
                        Centennial College, I
                        am excited to explore the boundless possibilities that this field offers.

                        <br>
                        At the age of 20, I find myself on a thrilling adventure into the realm of coding and AI, driven
                        by
                        an unyielding
                        passion for technology. While I may be relatively new to the world of programming, it's a topic
                        that
                        has always piqued
                        my curiosity and continuously unveils new avenues for exploration. The opportunity to innovate,
                        solve real-world
                        problems, and be at the forefront of technological advancements is what inspires me each day.
                        <br>
                        Join me as I embark on this exciting journey, where every line of code I write represents a step
                        toward a future filled
                        with innovation and positive change. Together, we'll harness the power of technology to shape a
                        better tomorrow.
                    </p>
                    <img src="/img/portfolio2.png" alt="Katialy Ashley Metsanou">
                </div>
                You can download my resume by clicking the button below :)<br><br>

                <a href="https://github.com/Katashley9/COMP229/blob/katialy-Portfolio/Katialy%20Ashley%20Resume.docx"
                    class="resume-button" download>Download Resume</a>
            </div>

        </main>

        <!--bottom nav-->

        <!--script section-->

        <%- include ('partials/bottom_nav.ejs') %>

            <%- include ('partials/footer.ejs') %>
