<!--File: styles.css
Student's Name: Katialy Ashley
Student ID: 301273661
Date: 03/10/2023

Description: HOME page.
*/-->
<%- include ('partials/header.ejs') %>

    <%- include ('partials/main_nav.ejs') %>




        <main class="container">

            <div class="jumbotron">

                <h1 class="display-4">
                    Welcome to my Portfolio
                </h1>

                <blockquote class="blockquote">
                    <p class="mb-0"><i>
                            <h2 class="index">As Katialy Ashley, a passionate software technology engineering-AI
                                student, I
                                have
                                chosen
                                the path of Artificial Intelligence to make the world better."</h2>
                        </i></p>
                </blockquote>

                <h2 class="mt-5"></h2>

                <p>
                    On a mission to harness the transformative potential of Artificial Intelligence (AI) to create
                    a better
                    world for all. As an AI enthusiast, my journey is driven by a profound belief that technology can be
                    a force
                    for good, solving pressing global challenges and improving the lives of individuals and communities.
                </p>

                <h3 class="mt-4">Core Values</h3>

                <ul class="list-unstyled">
                    <li><strong>Innovation</strong>: I embrace innovation as the key to unlocking AI's potential,
                        constantly
                        seeking new solutions that address real-world problems.</li>
                    <li><strong>Ethics</strong>: My commitment to ethical AI practices ensures that AI technologies are
                        developed,
                        implemented, and shared in a responsible, inclusive, and unbiased manner.</li>
                    <li><strong>Education</strong>: I prioritize AI education, sharing my knowledge and experiences with
                        others to
                        empower them to use AI for positive change.</li>
                    <li><strong>Collaboration</strong>: I thrive on collaboration, actively engaging with fellow
                        students,
                        professionals, and organizations to co-create a brighter AI-enabled future.</li>
                </ul>

                <h3 class="mt-4">Vision</h3>

                <p>
                    My vision is to be a catalyst for AI-driven transformation, driving innovation, and ethical AI
                    adoption. I
                    aspire to contribute to a world where AI is harnessed not only for technological advancements but
                    for creating
                    a more equitable, sustainable, and harmonious planet.
                </p>

                <p>
                    Thank you for joining me on this mission to leverage AI's capabilities for the betterment of our
                    world.
                    Together, we can make a meaningful impact and shape a brighter future for generations to come.
                </p>

            </div>

        </main>

        <!--bottom nav-->

        <!--script section-->

        <%- include ('partials/bottom_nav.ejs') %>

            <%- include ('partials/footer.ejs') %>