<!--/* File: Project.ejs
Student's Name: Katialy Ashley
Student ID: 301273661
Date: 03/10/2023

Description: This file contols the Projects web page.
*/-->
<%- include ('partials/header.ejs') %>

    <%- include ('partials/main_nav.ejs') %>




        <main class="container">

            <div class="jumbotron">

                <h1 class="display-4">Explore my Projects</h1>
                <p>
                    Here you can discover a diverse range of projects I've had the privilege to create.
                    Each project reflects my passion for
                    technology and innovation.
                </p><br>


                <h4 class="project"><strong> Estate Website</strong></h4>Experience seamless property browsing on my
                real
                estate website.
                Whether you're
                a buyer or seller,
                this platform provides an intuitive interface to explore properties, make inquiries, and connect
                with real estate
                professionals.<br>
                <div class="slideshow-container">
                    <div class="mySlides1">
                        <img src="/img/P1.png" style="width:100%">
                    </div>

                    <div class="mySlides1">
                        <img src="/img/P2.png" style="width:100%">
                    </div>

                    <div class="mySlides1">
                        <img src="/img/P3.png" style="width:100%">
                    </div>
                    <div class="mySlides1">
                        <img src="/img/P4.png" style="width:100%">
                    </div>
                    <div class="mySlides1">
                        <img src="/img/P5.png" style="width:100%">
                    </div>
                    <div class="mySlides1">
                        <img src="/img/P6.png" style="width:100%">
                    </div>
                    <div class="mySlides1">
                        <img src="/img/P7.png" style="width:100%">
                    </div>
                    <div class="mySlides1">
                        <img src="/img/P8.png" style="width:100%">
                    </div>
                    <div class="mySlides1">
                        <img src="/img/P9.png" style="width:100%">
                    </div>
                    <div class="mySlides1">
                        <img src="/img/P10.png" style="width:100%">
                    </div>

                    <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
                </div>
                <br>
                <h4 class="project"><strong>JSON File Converter</strong></h4>In the world of data, versatility is
                key. My
                JSON file
                converter
                facilitates
                seamless data
                transformation, allowing you to work with JSON data effortlessly and efficiently.
                <br>
                <div class="slideshow-container">
                    <div class="mySlides2">
                        <img src="/img/json1.png" style="width:100%">
                    </div>

                    <div class="mySlides2">
                        <img src="/img/json2.png" style="width:100%">
                    </div>

                    <div class="mySlides2">
                        <img src="/img/json.png" style="width:100%">
                    </div>

                    <a class="prev" onclick="plusSlides(-1, 1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1, 1)">&#10095;</a>
                </div>
                <br>
                <h4 class="project"><strong>Interactive Slideshow Website</strong></h4> Immerse yourself in
                captivating
                stories through my
                interactive
                slideshow website. I've
                crafted immersive narratives that come to life as you navigate through each slide, creating an
                engaging and memorable
                journey.
                <br>
                <div class="slideshow-container">
                    <div class="mySlides3">
                        <img src="img/slide1.png" style="width:100%">
                    </div>

                    <div class="mySlides3">
                        <img src="img/slide2.png" style="width:100%">
                    </div>

                    <div class="mySlides3">
                        <img src="img/slide3.png" style="width:100%">
                    </div>

                    <a class="prev" onclick="plusSlides(-1, 2)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1, 2)">&#10095;</a>
                </div>
                <br>
                <h4 class="project"><strong>Multiplication Table Generator</strong></h4>Simplify mathematics with
                my
                multiplication table
                generator. This
                handy tool empowers
                educators and learners to create custom multiplication tables, making math education both fun and
                efficient.
                <br>
                <div class="slideshow-container">
                    <div class="mySlides4">
                        <img src="/img/M1.png" style="width:100%">
                    </div>

                    <div class="mySlides4">
                        <img src="/img/m2.png" style="width:100%">
                    </div>

                    <div class="mySlides4">
                        <img src="/img/M1.png" style="width:100%">
                    </div>

                    <a class="prev" onclick="plusSlides(-1, 3)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1, 3)">&#10095;</a>
                </div><br>

                <h4 class="project"><strong>Sneakers Game</strong></h4>Get ready for a thrilling experience in the
                online
                sneakers game.
                With
                just four
                clicks, you'll witness
                the sneakers' acceleration, adding an extra layer of excitement to your gaming adventure.
                <br>
                <div class="slideshow-container">
                    <div class="mySlides5">
                        <img src="/img/S1.png" style="width:100%">
                    </div>
                    <div class="mySlides5">
                        <img src="/img/S2.png" style="width:100%">
                    </div>
                    <div class="mySlides5">
                        <img src="/img/S3.png" style="width:100%">
                    </div>

                    <div class="mySlides5">
                        <img src="/img/S4.png" style="width:100%">
                    </div>

                    <div class="mySlides5">
                        <img src="/img/S5.png" style="width:100%">
                    </div>

                    <a class="prev" onclick="plusSlides(-1, 4)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1, 4)">&#10095;</a>
                </div><br><br>
                <p>
                    Each project showcases my dedication to problem-solving, creativity, and technical expertise. I
                    invite you to explore
                    these endeavors and witness the intersection of technology and innovation.
                </p>


            </div>


        </main>


        <!--bottom nav-->

        <!--script section-->
        <script>
            let slideIndex = [1, 1, 1, 1, 1];
            let slideId = ["mySlides1", "mySlides2", "mySlides3", "mySlides4", "mySlides5"]
            showSlides(1, 0);
            showSlides(1, 1);
            showSlides(1, 2);
            showSlides(1, 3);
            showSlides(1, 4);

            function plusSlides(n, no) {
                showSlides(slideIndex[no] += n, no);
            }

            function showSlides(n, no) {
                let i;
                let x = document.getElementsByClassName(slideId[no]);
                if (n > x.length) { slideIndex[no] = 1 }
                if (n < 1) { slideIndex[no] = x.length }
                for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";
                }
                x[slideIndex[no] - 1].style.display = "block";
            }
        </script>
        <%- include ('partials/bottom_nav.ejs') %>


            <%- include ('partials/footer.ejs') %>